<h2>New Song</h2>

<form action="/songs" method="post">
  <label for="song[title]">Title:</label>
  <input name="song[title]">

  <label for="song[album]">Album:</label>
  <input name="song[album]">

  <label for="song[preview_url]">Preview URL:</label>
  <input name="song[preview_url]">

  <label for="song[artist_id]">Artist ID:</label>
  <input name="song[artist_id]">

  <input type="submit" value="Create">
</form>
