<h2>New Song</h2>

<form action="/songs" method="post">
  <label for="title">Title:</label>
  <input name="title">

  <label for="album">Album:</label>
  <input name="album">

  <label for="previewUrl">Preview URL:</label>
  <input name="previewUrl">

  <label for="artistId">Artist ID:</label>
  <input name="artistId">

  <input type="submit" value="Create">
</form>
