<h2>New Artist</h2>

<form action="/artists" method="post" >
  <label for="name">Name:</label>
  <input name="name">

  <label for="photoUrl">Photo URL:</label>
  <input name="photoUrl">

  <label for="nationality">Nationality:</label>
  <input name="nationality">

  <input type="submit" value="Create">
</form>
